<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ehab.rakabny">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".RakkebneyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/application_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, label">
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.SignUpActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/MainActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".ui.LineSubscriptionActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity android:name=".ui.ProfileActivity" />
        <activity
            android:name=".ui.TicketsActivity"
            android:parentActivityName=".ui.MainActivity" />

        <receiver
            android:name=".widget.RWidgetProvider"
            android:enabled="true"
            android:label="@string/title_widget_info">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.udacity.stockhawk.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_user" />
        </receiver>

        <activity
            android:name=".ui.EventsActivity"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.EventRegistrationActivity"
            android:parentActivityName=".ui.EventsActivity" />
        <activity android:name=".ui.EventDetailsActivity"></activity>
    </application>

</manifest>